.form-ad {
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 0 5px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-ia {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.ia-acc {
    font-size: 1rem;
    text-transform: capitalize;
}

.ia-input {
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--light-color);
    border: 1px solid var(--icon-color);
}

.error-msg {
    padding: 2px;
    display: flex;
    font-size: .7rem;
    align-items: center ;
    text-align: center;
    justify-content: center;
    color: var(--secondary-color);
  }

.btn-acc-d {
    padding: 15px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    text-transform: capitalize;
    color: var(--background-color);
    background-color: var(--primary-color);
}


