@media screen {
    .admin-container {
        gap: 10px;
        height: 100%;
        display: flex;
        padding: 5px;
        flex-direction: column;
    }

    .product-image {
        height: 50%;
        flex: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 2px dotted var(--icon-color);

    }

    .upload-image {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dotted var(--icon-color);

    }

    .image-h {
        border: none;
        outline: none;
    }
}

  /* using it as global style for larger devices  */
  @media only screen and (min-width: 48em) {
    .admin-container {
        gap: 40px;
        padding: 30px;
        align-items: center;
        flex-direction: row;
    }

    .product-image {
        height: 80%;
        flex: 50%;
    }

    .product-info {
        flex: 50%;
    }


  }
