@media screen {
  .account-controller {
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .d-nav {
    display: none;
  }

  .account-nav {
    gap: 50px;
    display: flex;
    border-radius: none;
  }

  .acc-nav {
    background: none;
    text-decoration: none;
    color: var(--text-color);
  }


  .logo {
    display: none;
  }

  .d-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .d-input-container {
    display: none;
  }

  .icon-d-search {
    fill: var(--text-color);
  }

  .search-d {
    width: 100%;
    border: none;
    display: flex;
    height: inherit;
    border-radius: 20px;
    background-color: var(--dark-color);
  }

  .d-profile {
    gap: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .d-profile span {
    display: none;
  }

  .d-profile-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 360%;
    object-position: center center;
  }

  .d-cart {
    display: none;
  }

  .icon-d-cart {
    height: 30px;
    width: 30px;
    fill: var(--text-color);
  }

  .profile-avv {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon-acc-back {
    height: 24px;
    cursor: pointer;
    transform: rotate(180deg);
    fill: var(--light-color);
  }

  .d-cart span {
    color: var(--text-color);
  }

  .d-notification {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    background-color: var(--secondary-color);
  }

  .icon-d-notification {
    height: 25px;
    width: 25px;
    fill: var(--background-color);
  }

  .acc-pc {
    display: none;
  }

  .acc-mps {
    display: flex;
    height: 100%;
    padding-bottom: 10px;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .account-controller {
    padding: 20px;
  }

  .d-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    cursor: pointer;
  }

  .logo h1 {
    font-size: 1.8rem;
    color: var(--primary-color);
  }

  .profile-avv {
    height: 40%;
    border-radius: 12px;
  }

  .d-wrapper {
    width: 50%;
  }

  .d-input-container {
    gap: 4px;
    display: flex;
    height: 30px;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    background-color: var(--dark-color);
  }

  .d-profile span {
    display: flex;
  }

  .d-profile-img {
    height: 30px;
    width: 30px;
  }

  .d-cart {
    gap: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .d-cart span {
    color: var(--text-color);
  }

  .d-notification {
    display: none;
  }

  .acc-mps {
    display: none;
  }

  .acc-pc {
    gap: 30px;
    height: 50%;
    display: flex;

  }

  .acc-detail {
    flex: 30%;
    padding: 12px;
    border-radius: 12px;
    box-shadow: var(--drop-shadow);
  }

  .acc-settings {
    gap: 15px;
    flex: 70%;
    display: flex;
    flex-direction: column;
  }

  .acc-settings h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
  }

  .user-details {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .details-u {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  .details-u h3 {
    font-weight: 600;
    font-size: 1rem;
  }

  .details-u span {
    color: var(--icon-color);
    font-weight: 300;
    font-size: 1rem;
  }
}
