.span-c {
  border-radius: 360%;
  padding: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: var(--background-color);
  box-shadow: var(--drop-shadow);
}

.span-c:hover {
    background-color: var(--secondary-color);
}